%h1 Listing posts
= link_to 'New Post', new_post_path, class: 'btn btn-primary'
%table.table.table-stripe
  %thead
    %tr
      %th Title
      %th Body
      %th Starred
      %th User
      %th
      %th
      %th
      %th
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.body
        %td= post.starred
        %td= post.user
        %td= link_to "Comments (#{post.comments.count})", post_comments_path(post)
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
